{% extends 'base.html.twig' %}

{% block content %}
    <h1>use promo Code</h1>

    {% for message in app.session.flashbag.get('failure') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

    {{ include('code_promo/_form.html.twig') }}
{% endblock %}
