{% extends 'base.html.twig' %}

{% block content %}

{% for message in app.session.flashbag.get('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		
		<section class="how-it-works">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">Working Process</span>
							<h1>How It Works?</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
				
					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="assets/img/tour-1.png" class="img-responsive" alt="" />
								<span class="process-num">01</span>
							</div>
							<h4>Choose a Destination & Guide</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="assets/img/tour-2.png" class="img-responsive" alt="" />
								<span class="process-num">02</span>
							</div>
							<h4>Choose your guide & Customize</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="assets/img/tour-3.png" class="img-responsive" alt="" />
								<span class="process-num">03</span>
							</div>
							<h4>Book Your Guide Online</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>
					
				</div>
		
			</div>
		</section>
		<!-- ====================== How It Work ================= -->
		<div class="clearfix"></div>
		
		
		<!-- ====================== Popular Tour ================= -->
		<section class="gray-dot gray-bg">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">Select Tour</span>
							<h1>Popular Tour</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
					
					<div class="list-slider">
					
						<!-- Single Tour -->
						<div class="list-slide-box">
							<article class="tour-box style-1">
							
								<!-- Single Tour -->
								<div class="tour-box-image">
									<figure>
										<a href="tour-detail.html">
											<img src="assets/img/tour/tour-1.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="entry-bookmark">                                   
											<a href="#"><i class="ti-bookmark"></i></a>
										</div>
										{# <div class="tour-time">
											<i class="ti ti-car"></i><span>25h</span>
										</div> #}
										<h4 class="tour-place">
											<a href="tour-detail.html">Bizerte Centre </a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-author">
										<div class="coauthors">
											<span class="vcard author">
												<span class="fn">
													<a href="#"><img alt="" src="assets/img/user-1.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
												</span>
											</span>
										</div>
									</div>
									<div class="meta-item meta-comment fl-right">
										<i class="ti-comment-alt"></i><span>25</span>
									</div>
									<div class="meta-item meta-rating fl-right">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-title">
											<a href="tour-detail.html">Bizerte</a>
										</h4>
										<div class="price-box">
											<div class="tour-price fl-right">
												<i class="ti ti-user"></i><span class="theme-cl f-bold">5.500 Millimes</span>
											</div>
										</div>
									</div>
								</div>
			
							</article>
						</div>
						
						<!-- Single Tour -->
						<div class="list-slide-box">
							<article class="tour-box style-1">
							
								<div class="tour-box-image">
									<figure>
										<a href="tour-detail.html">
											<img src="assets/img/tour/tour-2.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="entry-bookmark">                                   
											<a href="#"><i class="ti-bookmark"></i></a>
										</div>
										{# <div class="tour-time">
											<i class="ti ti-car"></i><span>2 days</span>
										</div> #}
										<h4 class="tour-place">
											<a href="tour-detail.html">Nafta<a/a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-author">
										<div class="coauthors">
											<span class="vcard author">
												<span class="fn">
													<a href="#"><img alt="" src="assets/img/user-2.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
												</span>
											</span>
										</div>
									</div>
									<div class="meta-item meta-comment fl-right">
										<i class="ti-comment-alt"></i><span>26</span>
									</div>
									<div class="meta-item meta-rating fl-right">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-title">
											<a href="tour-detail.html">Tozeur</a>
										</h4>
										<div class="price-box">
											<div class="tour-price fl-right">
												<i class="ti ti-user"></i><span class="theme-cl f-bold">11.800 Millimes </span>
											</div>
										</div>
									</div>
								</div>
			
							</article>
						</div>
						
						<!-- Single Tour -->
						<div class="list-slide-box">
							<article class="tour-box style-1">
							
								<div class="tour-box-image">
									<figure>
										<a href="tour-detail.html">
											<img src="assets/img/tour/tour-3.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="entry-bookmark">                                   
											<a href="#"><i class="ti-bookmark"></i></a>
										{# </div>
										<div class="tour-time">
											<i class="ti ti-car"></i><span>21h</span>
										</div> #}
										<h4 class="tour-place">
											<a href="tour-detail.html">Ain Drahem </a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-author">
										<div class="coauthors">
											<span class="vcard author">
												<span class="fn">
													<a href="#"><img alt="" src="assets/img/user-3.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
												</span>
											</span>
										</div>
									</div>
									<div class="meta-item meta-comment fl-right">
										<i class="ti-comment-alt"></i><span>17</span>
									</div>
									<div class="meta-item meta-rating fl-right">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-title">
											<a href="tour-detail.html">Jandouba</a>
										</h4>
										<div class="price-box">
											<div class="tour-price fl-right">
												<i class="ti ti-user"></i><span class="theme-cl f-bold">5.500 Millimes</span>
											</div>
										</div>
									</div>
								</div>
			
							</article>
						</div>
						
						<!-- Single Tour -->
						<div class="list-slide-box">
							<article class="tour-box style-1">
							
								<div class="tour-box-image">
									<figure>
										<a href="tour-detail.html">
											<img src="assets/img/tour/tour-4.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="entry-bookmark">                                   
											<a href="#"><i class="ti-bookmark"></i></a>
										</div>
										{# <div class="tour-time">
											<i class="ti ti-car"></i><span>Depends from your position</span>
										</div> #}
										<h4 class="tour-place">
											<a href="tour-detail.html">Beb Alioua</a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-author">
										<div class="coauthors">
											<span class="vcard author">
												<span class="fn">
													<a href="#"><img alt="" src="assets/img/user-4.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
												</span>
											</span>
										</div>
									</div>
									<div class="meta-item meta-comment fl-right">
										<i class="ti-comment-alt"></i><span>18</span>
									</div>
									<div class="meta-item meta-rating fl-right">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-title">
											<a href="tour-detail.html">Tunis</a>
										</h4>
										<div class="price-box">
											<div class="tour-price fl-right">
												<i class="ti ti-user"></i><span class="theme-cl f-bold">9.600 Millimes</span>
											</div>
										</div>
									</div>
								</div>
			
							</article>
						</div>
						
						<!-- Single Tour -->
						<div class="list-slide-box">
							<article class="tour-box style-1">
							
								<div class="tour-box-image">
									<figure>
										<a href="tour-detail.html">
											<img src="assets/img/tour/tour-5.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="entry-bookmark">                                   
											<a href="#"><i class="ti-bookmark"></i></a>
										</div>
										{# <div class="tour-time">
											<i class="ti ti-car"></i><span>17h</span>
										</div> #}
										<h4 class="tour-place">
											<a href="tour-detail.html">Eljam	 </a>
										</h4>
										<span class="featured-tour"><i class="fa fa-star"></i></span>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-author">
										<div class="coauthors">
											<span class="vcard author">
												<span class="fn">
													<a href="#"><img alt="" src="assets/img/user-5.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
												</span>
											</span>
										</div>
									</div>
									<div class="meta-item meta-comment fl-right">
										<i class="ti-comment-alt"></i><span>15</span>
									</div>
									<div class="meta-item meta-rating fl-right">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-title">
											<a href="tour-detail.html">Sousse</a>
										</h4>
										<div class="price-box">
											<div class="tour-price fl-right">
												<i class="ti ti-user"></i><span class="theme-cl f-bold">8.400 Millimes</span>
											</div>
										</div>
									</div>
								</div>
			
							</article>
						</div>
						
					</div>
				</div>
		
			</div>
		</section>
		<!-- ====================== Popular Tour ================= -->
		<div class="clearfix"></div>
		
		
		<!-- ====================== Popular Guide ================= -->
		<section class="tour-guide">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">Tourrists Guide</span>
							<h1>Dedicated Guide</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
				
					<!-- Single Guide -->
					<div class="col-md-4">
						<div class="guides-container">
						
							<div class="guides-box">
								<div class="guides-img-box">
									<img src="assets/img/user-1.jpg" class="img-responsive" alt="" />
								</div>
								<div class="guider-detail">
									<h4>Suryansh Vighul</h4>
									<h5 class="theme-cl font-bold">$40/Hour</h5>
								</div>
							</div>
							<a href="guide-detail.html" class="btn theme-btn full-width">Book Now</a>
						
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-md-4">
						<div class="guides-container">
						
							<div class="guides-box">
								<div class="guides-img-box">
									<img src="assets/img/user-2.jpg" class="img-responsive" alt="" />
								</div>
								<div class="guider-detail">
									<h4>Ruchitha Riya</h4>
									<h5 class="theme-cl font-bold">$52/Hour</h5>
								</div>
							</div>
							<a href="guide-detail.html" class="btn theme-btn full-width">Book Now</a>
						
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-md-4">
						<div class="guides-container">
						
							<div class="guides-box">
								<div class="guides-img-box">
									<img src="assets/img/user-3.jpg" class="img-responsive" alt="" />
								</div>
								<div class="guider-detail">
									<h4>Dev Singhania</h4>
									<h5 class="theme-cl font-bold">$50/Hour</h5>
								</div>
							</div>
							<a href="guide-detail.html" class="btn theme-btn full-width">Book Now</a>
						
						</div>
					</div>
					
				</div>
		
			</div>
		</section>
		<!-- ====================== Popular Guide ================= -->		
		<div class="clearfix"></div>
		
		
		<!-- ============== Before Footer ====================== -->
		<section class="before-footer bt-1 bb-1">
			<div class="container-fluid padd-0 full-width">
			
				<div class=" col-md-2 col-sm-2 br-1 mbb-1">
					<div class="data-flex">
						<h4>Contact Us!</h4>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
					2 Rue André Ampère Ariana 2803 , Tunisia
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
						<span class="d-block mrg-bot-0">+216 9922 9311</span>
						<a href="#" class="theme-cl"><strong>ikbel.mimouni@esprit.tn</strong></a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4 padd-0">
					<div class="data-flex padd-0">
						<ul class="social-share">
							<li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>

        {% endblock %}