{% extends '/dashboard/base.html.twig' %}

{% block content %}
					<div class="col-lg-10 col-md-10 col-sm-9 col-lg-push-2 col-md-push-2 col-sm-push-3">
						<div class="row mrg-0 mrg-top-20">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h3 class="dashboard-title">Dashboard</h3>
								</div>
								<div class="tr-single-body">
								
									<!-- row -->
									<div class="row">
										<div class="col-md-3 col-sm-6">
											<div class="widget simple-widget">
												<div class="rwidget-caption info">
													<div class="row">
														<div class="col-xs-4 padd-r-0">
															<i class="cl-info icon ti-user"></i>
														</div>
														<div class="col-xs-8">
															<div class="widget-detail">
																<h3>372</h3>
																<span>New Users</span>
															</div>
														</div>
														<div class="col-xs-12">
															<div class="widget-line">
																<span style="width:80%;" class="bg-info widget-horigental-line"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-8 col-sm-12">
											<div class="tr-single-box">
												<div class="tr-single-header">
													<h4 class="mb-0">Extra Area Chart</h4>
												</div>
												
											</div>
										</div>
										
										<div class="col-md-4 col-sm-12">
											<div class="tr-single-box">
												<div class="tr-single-header">
													<h5>Recen Booking</h5>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
{% endblock %}